.containe{
    align-items:  center;
    padding: 20px;
}

.dados{

    border: 2px solid black;
    border-radius: 20px;
    padding: 20%;
    background: gray;
    width: 100vh;
    height: 100vh;
    
}

.input-deco{
    border-radius: 5px;
    color: white;
}


.btn-cinza{
    border-radius: 10px;
    margin-top: 5px;

}