.container{
    
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;    /* Centraliza verticalmente */
    height: 100vh;          /* Para que o corpo ocupe toda a altura da tela */
    background-color: rgb(118, 125, 226);

}

.dados{

    border: 2px solid rgb(248, 248, 248);
    border-radius: 20px;
    padding: 20%;
    background: rgb(245, 195, 129);
    width: 40vh;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;
    display: flex;
    
}

.input-deco{
    border-radius: 5px;
    color: white;
}


.btn-cinza{
    border-radius: 10px;
    margin-top: 5px;

}

.input-2{
    margin-top: 10px;
}
